<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422126087307-ie92sct34v5f3em777125nvtd1kjp250.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422126087307-ie92sct34v5f3em777125nvtd1kjp250</string>
	<key>API_KEY</key>
	<string>AIzaSyAzQJ0EN28N4kBD-H8Uq84UY2ec2wHKNG8</string>
	<key>GCM_SENDER_ID</key>
	<string>422126087307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MohamedZak.XO</string>
	<key>PROJECT_ID</key>
	<string>x-o-game-de333</string>
	<key>STORAGE_BUCKET</key>
	<string>x-o-game-de333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422126087307:ios:c009acaf36f4028da2f88e</string>
	<key>DATABASE_URL</key>
	<string>https://x-o-game-de333-default-rtdb.firebaseio.com</string>
</dict>
</plist>